{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content%}
<h3>{{ title }}</h3>
<hr>
<form method="POST" id="form">
    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit" class="btn btn-success mt-3">
        <i class="fas fa-check"></i> {{ button }}
    </button>
</form>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){

        var SPMaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 0 0000-0000' : '(00) 0000-00009';
        },

        spOptions = {
            onKeyPress: function(val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        };

        $('#id_telephone').mask(SPMaskBehavior, spOptions);

    });
</script>
{% endblock %}