{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Privilégios mecânicos{% endblock %}

{% block menu_items %}
    {% include 'core/menu_items.html' %}
{% endblock %}

{% block content%}

<h3>Privilégios mecânicos</h3>
<hr>

<form method="POST" id="form">
    {% csrf_token %}
    {{ form_search|crispy }}

    <button type="submit" class="btn btn-success mt-3" name="buscar">
        <i class="fas fa-check"></i> {{ button_1 }}
    </button>

    <button type="submit" class="btn btn-success mt-3" name="salvar">
        <i class="fas fa-check"></i> {{ button_3 }}
    </button>
</form>

<!--{{ formset.management_form }}-->
{% for form in formset %}
<div class="row">
    <h5> {{form.date.value}} ({{form.date.value|date:"l"}}) </h5>
    <div class="col-sm">
        {{ form.indicator_1|as_crispy_field }}
        {{ form.indicator_2|as_crispy_field }}
    </div>
    <div class="col-sm">
        {{ form.mic_1|as_crispy_field }}
        {{ form.mic_2|as_crispy_field }}
    </div>
    <div class="col-sm">{{ form.note_sound_table|as_crispy_field }}</div>
    <div class="col-sm">{{ form.zoom_indicator|as_crispy_field }}</div>
    <hr>
</div>
{% endfor %}

<a href="#" class="btn btn-warning" title="Designar Automaticamente">Designar Automaticamente <i class="fa-solid fa-robot"></i></a>

{% endblock%}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#table-person').DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [[0, "asc"]],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registos no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });
    });
</script>
{% endblock %}