 <div class="row">
  {% if user.is_authenticated %}
  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    <h2>Dados da congregação</h2>
    <p>Nesse módulo, você gerencia os dados básicos da congregação e dos publicadores.</p>
    <p><a class="btn btn-secondary" href="{% url 'congregation' user.profile.congregation.pk %}">Acessar &raquo;</a></p>
  </div>

  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    <h2>Privilégios mecânicos</h2>
    <p>Nesse módulo, você designa as tarefas mecânicas de sua congregação.</p>
    <p><a class="btn btn-secondary" href="{% url 'mechanical-privileges-list' %}">Acessar &raquo;</a></p>
  </div>

  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    <h2>Reunião de meio de semana</h2>
    <p>Nesse módulo, você cuida da parte espiritual das reuniões de meio de semana.</p>
    <p><a class="btn btn-secondary" href="{% url 'part-list' %}">Acessar &raquo;</a></p>
  </div>

  <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    <h2>Reunião de fim de semana</h2>
    <p>Nesse módulo, você cuida da parte espiritual das reuniões de fim de semana.</p>
    <p><a class="btn btn-secondary" href="{% url 'public-assignment-list' %}">Acessar &raquo;</a></p>
  </div>
   <div class="col-lg-4">
    <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
    <h2>Relatórios</h2>
    <p>Nesse módulo, você pode gerar diversos relatórios das designações.</p>
    <p><a class="btn btn-secondary" href="{% url 'bulletin-board' %}">Acessar &raquo;</a></p>
  </div>
  {% endif %}
 </div>