{% extends "base.html" %}
{% block title %}Designações da Reunião Vida e Ministério{% endblock %}

{% block menu_items %}
    {% include 'life_and_ministry/menu_items.html' %}
{% endblock %}

{% block content%}
<h3>Designações</h3>


<hr>
<br><br>


<div class="table responsive">
    <table class="table table-striped" id="table-assignment">
        <thead>
            <tr>
                <th>Data</th>
                <th>Tema</th>
                <th>Publicador</th>
                <th>Ajudante</th>
                <th>Opções</th>
            </tr>
        </thead>

        <tbody>
            {% for assignment in object_list %}
            <tr>                
                <td> {{ assignment.part.date|date:"Y/m/d" }} </td>
                <td> {{ assignment.part.theme }}  [{{ assignment.part.get_section_display }}] </td>
                <td> {{ assignment.owner }} </td>
                <td> {{ assignment.assistant }} </td>
                <td>
                    <a href="{{assignment.get_update_url}}" class="btn btn-warning" title="Editar">
                        <i class="fas fa-pencil"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>Nenhum registro.</tD>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock%}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#table-assignment').DataTable({
            responsive: true,
            // "bSort": false,
            "aaSorting": [[0, "asc"]],
            "pageLength": 50,
            "language": {
                "decimal": "",
                "emptyTable": "Sem dados disponíveis",
                "info": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando de 0 até 0 de 0 registros",
                "infoFiltered": "(filtrado de _MAX_ registos no total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ registros",
                "loadingRecords": "A carregar dados...",
                "processing": "A processar...",
                "search": "Procurar:",
                "zeroRecords": "Não foram encontrados resultados",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Seguinte",
                    "previous": "Anterior"
                },
                "aria": {
                    "sortAscending": ": ordem crescente",
                    "sortDescending": ": ordem decrescente"
                }
            }
        });
    });
</script>
{% endblock %}