<li class="nav-item">
	<a class="nav-link active" aria-current="page" href="{% url 'public-assignment-list' %}">Arranjo de Oradores</a>
</li>
<li class="nav-item">
	<a class="nav-link active" aria-current="page" href="{% url 'speech-list' %}">Discursos públicos</a>
</li>
<li class="nav-item">
	<a class="nav-link active" aria-current="page" href="{% url 'person-guest-create' %}">Cadastro de Oradores Visitantes</a>
</li>
<li class="nav-item">
	<a class="nav-link active" aria-current="page" href="{% url 'watchtower-reader-list' %}">Leitor de A Sentinela</a>
</li>